name: update-flake-lock
on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * 0"

permissions:
  contents: "read"

jobs:
  lockfile:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Install Nix
        uses: ./
      - name: Setup Cachix
        uses: cachix/cachix-action@v15
        with:
          name: nix-installer
          authToken: "${{ secrets.CACHIX_AUTH_TOKEN }}"
      - name: Check flake
        uses: DeterminateSystems/flake-checker-action@main
      - name: Update flake.lock
        uses: DeterminateSystems/update-flake-lock@main
